
<footer>
    <div class="container flex -hue-rotate-60 mx-auto mt-4">
      <div class="flex w-screen h-80 mt-4 bg-transparent justify-center">
        <div class="flex flex-col">
          <h1 class="text-white mt-10 justify-start ml-40 text-3xl font-semibold">SOCIALS</h1>
            <div class="flex flex-col hover:to-blue-600 mt-5 h-40 w-auto text-2xl ml-40 text-white">
              <a href="https://www.facebook.com/corda.juswa" target="_blank" rel="noopener noreferrer" class="flex items-start">
                <i class="fab fa-facebook hover:text-blue-600 transition duration-300 mt-2 "></i><span class="ml-10 flex flex-row whitespace-nowrap hover:text-blue-600 transition duration-300 font-semibold">Joshua Bombita Corda</span>
              </a>
              <a href="https://www.instagram.com/crdajswa/" target="_blank" rel="noopener noreferrer" class="flex items-start">
                <i class="fab   fa-brands fa-instagram hover:text-pink-600 transition duration-300 mt-3"></i><span class="mt-1 ml-10 flex flex-row whitespace-nowrap hover:text-pink-600 transition duration-300 font-semibold text-start">crdajswa</span>
              </a>
              <a href="https://github.com/cordzyy" target="_blank" rel="noopener noreferrer" class="flex items-center">
                <i class="fab   fa-brands fa-github hover:text-orange-600 transition duration-300 mt-3 "></i><span class="mt-1 ml-10 flex flex-row whitespace-nowrap hover:text-orange-600 transition duration-300 font-semibold">cordzyy</span>
              </a>
              <a href="https://twitter.com/crdzjswa" target="_blank" rel="noopener noreferrer" class="flex items-center">
                <i class="fab   fa-brands fa-twitter hover:text-blue-900 transition duration-300 mt-3 "></i><span class="mt-1 ml-10 flex flex-row whitespace-nowrap hover:text-blue-900 transition duration-300 font-semibold">crdz</span>
              </a>
            </div>
        </div>
      
        <div class="flex flex-col w-auto mx-auto mt-10 text-3xl font-semibold text-white"><h1 class="flex ml-40">CONTACTS</h1>
          <div class="flex flex-col hover:to-blue-600 mt-5 h-40 w-auto text-2xl ml-40 text-white">
            <a class="flex items-start">
              <i class="fas fa-solid fa-phone-alt hover:text-blue-600 transition duration-300 mt-1 "></i><span class="ml-10 flex flex-row whitespace-nowrapfont-semibold">+639514191583</span>
            </a>
            <a href="hthttps://mail.google.com/" target="_blank" rel="noopener noreferrer" class="flex items-start">
              <i class="fas fa-solid fa-envelope hover:text-pink-600 transition duration-300 mt-3"></i><span class="mt-1 ml-10 flex flex-row whitespace-nowrap hover:text-pink-600 transition duration-300 font-semibold text-start">joshuabombitacorda@gmail.com</span>
            </a>
          </div>

        
        </div>
      </div>
    </div>
</footer>   