
<footer class="mt-0" id="contacts">
    <div class="container flex -hue-rotate-60 mt-4 flex-col">

      <div class="flex w-screen h-full mt-4 bg-transparent justify-center flex-col lg:flex-row">
        <div class="flex flex-col ml-5">
          <h1 class="text-white mt-5 justify-start text-3xl font-semibold">SOCIALS</h1>
            <div class="flex flex-col hover:to-blue-600 mt-1 h-40 w-auto text-xl  text-white">
              <a href="https://github.com/cordzyy" target="_blank" rel="noopener noreferrer" class="flex items-center">
                <i class="fab   fa-brands fa-github hover:text-orange-600 transition duration-300 mt-3 "></i><span class="mt-1 ml-7 flex flex-row whitespace-nowrap hover:text-orange-600 transition duration-300 font-medium">cordzyy</span>
              </a>
              <a href="https://www.linkedin.com/in/joshua-corda-04155828b/" target="_blank" rel="noopener noreferrer" class="flex items-center">
                <i class="fab   fa-brands fa-linkedin hover:text-green-700 transition duration-300 mt-3 "></i><span class="mt-1 ml-7 flex flex-row whitespace-nowrap hover:text-green-700 transition duration-300 font-medium">Joshua Corda</span>
              </a>
              <a href="https://www.facebook.com/corda.juswa" target="_blank" rel="noopener noreferrer" class="flex items-start">
                <i class="fab fa-facebook hover:text-blue-600 transition duration-300 mt-3 "></i><span class="mt-2 ml-7 flex flex-row whitespace-nowrap hover:text-blue-600 transition duration-300 font-medium">Joshua Bombita Corda</span>
              </a>
              <a href="https://www.instagram.com/crdajswa/" target="_blank" rel="noopener noreferrer" class="flex items-start">
                <i class="fab   fa-brands fa-instagram hover:text-pink-600 transition duration-300 mt-3"></i><span class="mt-1 ml-7 flex flex-row whitespace-nowrap hover:text-pink-600 transition duration-300 font-medium text-start">crdajswa</span>
              </a>
              
              <a href="https://twitter.com/crdzjswa" target="_blank" rel="noopener noreferrer" class="flex items-center">
                <i class="fab   fa-brands fa-twitter hover:text-blue-900 transition duration-300 mt-3 "></i><span class="mt-1 ml-7 flex flex-row whitespace-nowrap hover:text-blue-900 transition duration-300 font-medium">crdz</span>
              </a>
            </div>
        </div>
      
        <!-- <div class="flex flex-col w-auto mx-auto mt-10 text-3xl font-semibold text-white"><h1 class="flex ml-40">CONTACTS</h1>
          <div class="flex flex-col hover:to-blue-600 mt-5 h-40 w-auto text-xl ml-40 text-white">
            <a class="flex items-start">
              <i class="fas fa-solid fa-phone-alt mt-1 "></i><span class="ml-5 flex flex-row whitespace-nowrap font-medium">+639514191583</span>
            </a>
            <a href="hthttps://mail.google.com/" target="_blank" rel="noopener noreferrer" class="flex items-start">
              <i class="fas fa-solid fa-envelope hover:text-pink-600 transition duration-300 mt-3"></i><span class="mt-1 ml-7 flex flex-row whitespace-nowrap hover:text-pink-600 transition duration-300 font-medium text-start">joshuabombitacorda@gmail.com</span>
            </a>
          </div>
        </div> -->
        
        <div class="flex flex-col w-auto ml-5 mt-0 text-3xl font-semibold text-white lg:mt-5 lg:ml-40"><h1>CONTACTS</h1>
          <div class="flex flex-col hover:to-blue-600 mt-5 h-40 w-auto text-xl text-white">
            <a class="flex items-start">
              <i class="fas fa-solid fa-phone-alt mt-1 "></i><span class="ml-5 flex flex-row whitespace-nowrap font-medium">+639514191583</span>
            </a>
            <a href="hthttps://mail.google.com/" target="_blank" rel="noopener noreferrer" class="flex items-start">
              <i class="fas fa-solid fa-envelope hover:text-pink-600 transition duration-300 mt-3"></i><span class="mt-1 ml-7 flex flex-row whitespace-nowrap hover:text-pink-600 transition duration-300 font-medium text-start">joshuabombitacorda@gmail.com</span>
            </a>
          </div>
        </div>
      

        
      </div>

      <div class="text-center ml-52 mt-2 mb-2 text-white opacity-50">*This portfolio website was made with Angular CLI 15 and Tailwind CSS. All informations present in this website are legit and true.</div>
      
    </div>
</footer>   