
<!-- mobile -->
<!-- <nav class="bg-gray-900 p-5 fixed top-0 z-50 w-full  lg:hidden">
    <div class="container mx-auto flex justify-between items-center">
      <a href="#"><img src="assets/3.png" alt="logo" class="w-10 h-10"></a>
      
      <ul class="flex flex-row w-96 justify-around font-extrabold">
        
        <li><a class="text-white hover:text-gray-600 transition duration-300" href="#">HOME</a></li>
        <li><a class="text-white hover:text-gray-600 transition duration-300" href="#pastproj">PORTFOLIO</a></li>
        <li><a class="text-white hover:text-gray-600 transition duration-300" href="#contacts">CONTACTS</a></li>
        
      </ul>
    </div>
  </nav> -->

  <nav class="bg-black fixed top-0 z-50 w-full p-5 lg:hidden opacity-85">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex flex-row items-center">
        <a href="#"> <img src="assets/3.jpg" alt="logo" class="rounded-full w-10 h-10 ml-3"></a>
        <h1 class="text-white ml-5 font-extrabold text-1xl ">CORDA</h1>
      </div>
      <!-- Toggle Button -->
      <a (click)="toggleSidebar()" class="flex items-end" id="hamburger">
        <i class="fas fa-solid fa-bars text-2xl text-white mr-3"></i>
      </a>
    </div>
  </nav>

<!-- web -->
<nav class="bg-black p-5 fixed top-0 z-50 w-full hidden lg:block opacity-85">
    <div class="container mx-auto flex justify-between items-center">
      <div class=" flex flex-row items-center">
        <a href="#"><img src="assets/3.jpg" alt="logo" class="w-10 h-10 rounded-full"></a>
        <h1 class="font-extrabold text-white text-1xl ml-5 ">JOSHUA CORDA'S PORTFOLIO</h1>
        
      </div>
     
      <ul class="flex flex-row w-96 justify-around font-extrabold">
        
        <li><a class="text-white hover:text-gray-600 transition duration-300" href="#">HOME</a></li>
        <li><a class="text-white hover:text-gray-600 transition duration-300" href="#pastproj">PORTFOLIO</a></li>
        <li><a class="text-white hover:text-gray-600 transition duration-300" href="#contacts">CONTACTS</a></li>
        
      </ul>
    </div>
  </nav>

  <!--sidebar-->
  <div *ngIf="isSidebarOpen" class="sidebar bg-black text-white w-64 h-full fixed top-0 right-0 transition-all duration-300 ease-in-out z-50">
    <a (click)="toggleSidebar()" class="absolute top-0 right-0 m-8" id="close">
        <i class="fas fa-solid fa-window-close text-2xl text-white"></i>
    </a>
    <div class="flex justify-center items-center h-full font-semibold">
        <ul class="text-center">
            <li class="py-4"><a href="#" class="block">HOME</a></li>
            <li class="py-4"><a href="#pastproj" class="block">PORTFOLIO</a></li>
            <li class="py-4"><a href="#contacts" class="block">CONTACTS</a></li>
        </ul>
    </div>
</div>


   