<div id='pastproj' class="pt-[100%] md:pt-0 lg:mt-10 mt-96">

    <!--
    <div class="custom-shape-divider-top-1708190015 z-0">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
      </svg>

    </div>
    -->
    <!-- PORTFOLIO PAGE -->
    <!--
      <div class="container mx-auto mt-4 md:mt-0 justify-center h-full w-auto rounded-full">
        <div class="flex justify-center z-10">
         <h1 class="text-5xl text-white font-bold mt-5 z-10">Recent Projects</h1>
        </div>
      </div>
    -->

    <div class="flex justify-center z-10 bg-white flex-col">
      <h1 class="text-5xl text-gray-900 font-bold mt-5 z-10 text-center">Recent Projects</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-0 mt-10 place-content z-10 text-gray-800">

        <div class="flex flex-col items-center"><div class="h-80 size-80 h-80 bg-white rounded-lg shadow-lg mx-2 p-5">
          <a href="https://quanbylab.com/" target="_blank" rel="noopener noreferrer">
            <img src="assets/QB.png" alt="quanby">
          </a>
        </div>
          <p class="mt-5 text-gray-900 font-bold">Quanby Language Lab (Ui/Ux)</p>
        </div>

        <div class="flex flex-col items-center"><div class="h-80 size-80 h-80 bg-white rounded-lg shadow-lg mx-2 p-5">
          <img src="assets/abacaicon.png" alt="quanby">
        </div>
          <p class="mt-5 text-gray-900 font-bold">Thesis - Abaca Grade Classifier (Ui/Ux)</p>
        </div>

        <div class="flex flex-col items-center"><div class="h-80 size-80 h-80 bg-white rounded-lg shadow-lg mx-2 p-5">
          <a href="https://knowledgewebcasts.com" target="_blank" rel="noopener noreferrer">
            <img class="h-64 w-64 ml-1 " src="assets/tkg new.png" alt="tkg">
          </a>
        </div>
          <p class="mt-5 text-gray-900 font-bold">TKG Website (Wordpress Maintenance)</p>
        </div>
        
        
        
        

      </div>

      <h2 class="text-5xl text-gray-900 font-bold z-10 text-center mt-14">Data Analytics Projects</h2>
      <div class="flex justify-center items-center md:mt-1 mt-5 mb-10 md:h-screen flex-col">
        <div class=" flex justify-center content-center h-5/6 w-5/6 shadow-lg rounded-lg">
          <img class="h-full w-5/6" src="assets/powerbi1.png" alt="powerbi1">
        </div>
        <p class="mt-5 text-gray-900 font-bold">Power BI Dashboard Capstone 1</p>
      </div>
      
    </div>
    

</div>