<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://kit.fontawesome.com/7312a8ba02.js" crossorigin="anonymous"></script>
  <title>Document</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GQMFTH9PKE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GQMFTH9PKE');
  </script>
</head>
  <body class="bg-black ">
    <div class="absolute top-0 left-0 w-full h-full overflow-hidden z-0">
      
      <iframe src="https://player.vimeo.com/video/989895868?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen class="absolute top-0 left-0 w-full h-full" style="width: 100%; height: 100%;"></iframe>
      <!--
      <video autoplay muted loop>
        <source src="assets/1.mp4" type="video/mp4">
        
      </video>
      -->
    </div>


    <app-navbar (toggle)="toggleSidebar()"></app-navbar>
    <app-sidebar [isVisible]="isSidebarVisible"></app-sidebar>
    
    <app-home></app-home>
    <app-portfolio></app-portfolio>
    <app-footer></app-footer>
   
  </body>
</html>